@import url(http://fonts.googleapis.com/css?family=Lato:400,700);

.main {
  font-family: 'Lato', 'sans-serif';
}

img {
  height: 100px;
}

legend {
  color: #34495e;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Lato', 'sans-serif';
}

fieldset {
  border: 7px solid #f1c40f;
  font-weight: bold;
  border-radius: 10px;
}

label, h4 {
  color: #34495e;
  font-weight: bold;
  font-family: 'Lato', 'sans-serif';
}

.button {
  background-color: #34495e;
  font-family: 'Lato', 'sans-serif';
}

.form-row {
  border-bottom: 2px solid #f1c40f;
  margin-bottom: 30px;
  padding-bottom: 30px;
}
