@import url(http://fonts.googleapis.com/css?family=Lato);

.main {
  font-family: 'Lato', 'sans-serif';
}

img {
  height: 100px;
}

legend {
  color: #34495e;
  font-size: 30px;
}

fieldset {
  border: 7px solid #f1c40f;
  border-radius: 10px;
}

label, h5 {
  color: #34495e;
}
